<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Modulo de Authetifiacion</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Roles</h4>
                  <p class="card-category">Detalle de Roles Existentes</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                    
                      <thead class="text-primary">
	              		<th class="text-info">Nombre de Roles</th>
                      </thead>
                      
                      <tbody>
                       <th:block th:each="fila : ${puestos}">
				          <tr>
				            <td class="text-primary" th:text=${fila.nombre}></td>
				          </tr>
				       </th:block>  
				       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        
        
        
      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>


</body>

</html>


<!-- 

		<table class="z-depth-1 highlight" style="border-radius:5px;">
	        <thead>
	          <tr class="blue darken-2 white-text">
	              <th>Nombre de Grupos</th>
	          </tr>
	        </thead>
	
	        <tbody>
	        
	        <th:block th:each="fila : ${puestos}">
	          <tr>
	            <td th:text=${fila.nombre}></td>
	          </tr>
	        </th:block>  
	        
	        </tbody>
	    </table>

 -->