<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">WMS || Salida</title>
</head>
<body>
  
<header th:replace="fragments/header :: headerFragment"></header> 
<br>

<div class="container">
	
	<div class="row">
       <div class="input-field col s5">
       	<h5 class="left">Detalle Datos</h5>
       </div>
       <div class="input-field col s3">
         <input disabled th:value="${preparacion.ruta}" id="disabled" type="text" class="validate">
         <label for="disabled">Ruta</label>
       </div>
       <div class="input-field col s3">
         <input disabled th:value="${preparacion.puerta}" id="disabled" type="text" class="validate">
         <label for="disabled">Compuerta</label>
       </div>
       
    </div>

	<div class="row">	
      <table class="z-depth-1">
        <thead class="white-text teal z-depth-2">
          <tr>
              <th data-field="codigosap">Codigo SAP</th>
              <th data-field="ubicacion">Ubicacion</th>
              <th data-field="cantidad">Lote</th>
              <th data-field="lote">Cantidad</th>
              <th data-field="edita">Descargar</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="fila : ${preparaciondetalle}">
	          	<tr>
	          		<td th:text=${fila.codigosap}></td>
	          		<td th:text=${fila.ubicacion}></td>
	          		<td th:text=${fila.lote}></td>
	          		<td th:text=${fila.cantidad}></td>
	          		
					<th:block th:if="${fila.estado==true}">
						<td><a><i class="tiny material-icons green-text text-darken-1">done</i></a>Descargado</td>
					</th:block>
					<!-- ELSE -->
					<th:block th:unless="${fila.estado==true}">
						<td><a th:href="@{'/salida/descargar/__${Idpreparacion}__'+'/'+${fila.id}+'?page='+${PaginaActual}}" onclick="return confirm('Quiere Descargar?')"><i class="tiny material-icons yellow-text text-darken-1">border_color</i></a>Pendiente</td>						  
					</th:block>         		

	          	 </tr>
	    	</th:block>  
        </tbody>
      </table>
      
		 <div th:if="${PaginasTotales != 1}" class="form-group col-md-11 pagination-centered center">
		   <ul class="pagination">
			
			<th:block th:if="${BotonLimtInf}">
		 		<li class="page-item" th:classappend="${PaginaActual eq 1} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/salida/__${Idpreparacion}__?page={id}(id=${PaginaActual lt 1 ? 1 : PaginaActual})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <i class="material-icons">chevron_left</i>
		            </a>
		    	<li class="waves-effect"><a th:href="@{/admin/preparacion/registro/__${idPreparacion}__?page=1}">1</a></li>
		    	<li class="waves-effect">...</li>
		    </th:block>
			
			<li class="page-item teal lighten-1" th:classappend="${i eq PaginaActual} ? 'active'"
	            th:each="i,pStat : ${#numbers.sequence(LimitPagInf,LimitPagSup)}">           
	            <a class="page-link" th:href="@{/salida/__${Idpreparacion}__?page={id}(id=${i})}" th:text="${i}"
	            th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		    </li>
		    
		    <th:block th:if="${BotonLimtSup}">
				<li class="waves-effect">...</li>
		    	<li class="waves-effect"><a th:href="@{/admin/productos?page={id}(id=${PaginasTotales})}" th:text="${PaginasTotales}">5</a></li>
		    	<li class="waves-effect" th:classappend="${(PaginaActual) eq (PaginasTotales)} ? 'disabled'">
		        	<a class="page-link"
		               th:href="@{/salida/__${Idpreparacion}__?page={id}(id=${PaginaActual + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
					<i class="material-icons">chevron_right</i>
		       		</a>
		       </li>
			</th:block>
		    
		  </ul>
		</div>

	</div>
</div>

<footer  th:replace="fragments/footer :: footerFragment"></footer>
<script>
$(document).ready(function(){
		var visto = [[${preparacion.visto}]];
		if(visto==false){
			var message = '/preparacion-rest/visto/'+[[${Idpreparacion}]];
			
			$.ajax({
	            url : message,
	            type : "get",
	            data : { status : status},
	        })
			
		}


});
</script>


</body>
</html>