<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">WMS || Salida</title>
</head>
<body>
  

<header th:replace="fragments/header :: headerFragment"></header> 
	<div class="container">
		
		<div class="row">
		    <div class="input-field col s12 center white-text" style="background-color:#1F6D8C;border-radius:25px;">
				<h6>Listado de Hojas de Salida</h6>
		      </div>
		</div>
		
		<div class="row">	
		  <div class="collection">
		  <th:block th:each="iterator : ${listaHojas}">
		    <a th:href="@{'/salida/'+${iterator.id}}" class="collection-item">Fecha: <span th:text="${iterator.fecha}"></span>
					
				<th:block th:each="pf : ${iterator.visto}">
					<td th:if="${pf} == true"><span class="badge"><i class="small material-icons green-text text-darken-1">search</i></span></td>
					<td th:if="${pf} == false"><span class="new badge" data-badge-caption="Nueva Preparacion"></span></td>
				</th:block>


		    </a>
		  <th:block>
		  </div>	
		</div>

		 <div th:if="${paginacion.totalPages>1}" class="form-group col-md-11 pagination-centered center">
		   <ul class="pagination">
			
			<th:block th:if="${BotonLimtInf}">
		 		<li class="page-item" th:classappend="${paginacion.number eq 0} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/salida/__${idPreparacion}__?page={id}(id=${paginacion.number lt 2 ? 1 : paginacion.number})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <i class="material-icons">chevron_left</i>
		            </a>
		    	<li class="waves-effect"><a th:href="@{/salida/lista?page=1}">1</a></li>
		    	<li class="waves-effect">...</li>
		    </th:block>
		    
			<li class="page-item" th:classappend="${i eq paginacion.number + 1} ? 'active'"
		            th:each="i,pStat : ${#numbers.sequence(LimitPagInf,LimitPagSup)}">           
		            <a class="page-link" th:href="@{/salida/__${idPreparacion}__?page={id}(id=${i})}" th:text="${i}"
		               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		    </li>
		    
		    <th:block th:if="${BotonLimtSup}">
		    	<li class="waves-effect">...</li>
		    	<li class="waves-effect"><a th:href="@{/salida/lista?page={id}(id=${PaginasTotales})}" th:text="${PaginasTotales}">5</a></li>
		    	
		    	 <li class="waves-effect" th:classappend="${(paginacion.number + 1) eq (paginacion.totalPages)} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/salida/__${idPreparacion}__?page={id}(id=${paginacion.number + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
					<i class="material-icons">chevron_right</i>
		            </a>
		        </li>
		    	
		    </th:block>
			
		  </ul>
		</div>

	</div>

</body>
</html>