<head th:fragment="admiheadFragment">

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{assets/img/apple-icon.png}">
  <link rel="icon" type="image/png" th:href="@{/img/WMSIconsSOlid1.png}" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--     Fonts and icons     -->
  <link th:href="@{/css/materialize-icons.css}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
  <!-- CSS Files -->
  <link th:href="@{/assets/css/material-dashboard.css?v=2.1.0}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <title th:include=":: #pageTitle"></title>
    
    <!-- metas, link and scripts -->
</head>