<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
 
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Modulo de Preparacion</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">

            <ul class="navbar-nav">

              <li class="nav-item dropdown">

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                  <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
        
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Nuevo Hoja</h4>
                  <p class="card-category">Formulario para nueva hoja de Preparacion</p>
                </div>
                <div class="card-body">
                  <form th:action="@{/admin/preparacion/nueva}" onsubmit="return formPreparacion(formpreparacion)" id="formpreparacion" name="formpreparacion" th:object="${formPreparacion}" method="post" enctype="multipart/form-data">

					<link th:href="@{/css/materialize-0.98.0.min.css}" rel="stylesheet" type="text/css">
                   
						<div class="row">
						     
						 	<div class="col-md-4">
					            <label>Seleccione Usuario</label>
								  <select class="browser-default" th:field="*{usuario}">
										<div th:each="puerta : ${empleados}">
									    <option th:text="${puerta.nombre}" th:value="${puerta.id}"></option>
									    </div>
								  </select>
					        </div>
						     
						     <div class="col-md-5">
						         <label>Seleccione Ruta</label>
								  <select class="browser-default" th:field="*{ruta}">
									    <div th:each="fila : ${rutas}">
									    <option th:text="${fila[1]}" th:value="${fila[0]}"></option>
									    </div>
								  </select>
						     </div>
						      
						     <div class="col-md-3">
					            <label>Seleccione Compuerta</label>
								  <select class="browser-default" th:field="*{compuerta}">
										<div th:each="fila : ${compuertas}">
									    <option th:text="${fila[1]}" th:value="${fila[0]}"></option>
									    </div>
								  </select>
					        </div> 
						      
						</div>

						 <div class="row">
						     <div class="col col-md-12">    
    
								 <div class="file-field input-field">
							      <div class="btn">
							        <span>Excel</span>
							        <input type="file" id="file" th:name="file" multiple onchange="processSelectedFiles(this)">
							      </div>
							      <div class="file-path-wrapper">
							        <input class="file-path validate" id="textboxfile" type="text">
							      </div>
							    </div>
	    
							    
							</div>
						</div>
                        
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Observaciones</label>
                          <div class="form-group">
                            <label class="bmd-label-floating">Aqui puede Escribir toda una Lista de Detalles que usted quiera</label>
                            <textarea class="form-control" th:field="*{observacion}" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                                        
                                        
                    <button type="submit" class="btn btn-primary pull-right">Generar Preparacion</button>
                    
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        
        
      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>


<script>
function processSelectedFiles(fileInput) {
	  var files = fileInput.files;

	  for (var i = 0; i < files.length; i++) {
		  $("#textboxfile").val(files[i].name);
	  }
	}

</script>

</body>

</html>

<!-- 
<script>
function formPreparacionD(form){
	var archivo = $("#file").val();
	var extensiones = archivo.substring(archivo.lastIndexOf("."));
	
	if(extensiones==""){
		alertify.alert('Alerta',"Debe subir un Excel Valido", function(){});
		return false;
	}else{
		if(extensiones == ".xlsx"){
			return confirm('Esta Seguro de Generar la Preparacion?');
		}else{
			alertify.alert('Alerta',"El archivo de tipo " + extensiones + " no es válido", function(){});
			return false;
		}
		
	}
}


function formPreparacionM(form){
	var archivo = $("#file").val();
	var extensiones = archivo.substring(archivo.lastIndexOf("."));
	
	if(extensiones==""){
		alertify.alert('Alerta',"Debe subir un Excel Valido", function(){});
		return false;
	}else{
		if(extensiones == ".xlsx"){
			return confirm('Esta Seguro de Generar la Preparacion?');
		}else{
			alertify.alert('Alerta',"El archivo de tipo " + extensiones + " no es válido", function(){});
			return false;
		}
		
	}
}
</script>




<form class="col s12" th:action="@{/admin/preparacion/nueva}" onsubmit="return formPreparacionD(formpreparacionD);" id="formpreparacionD" name="formpreparacionD" th:object="${formPreparacion}" method="post" enctype="multipart/form-data">
    
		<div class="row">
		     <div class="col s12">
		         <label>Seleccione Ruta</label>
				  <select class="browser-default" th:field="*{ruta}">
					    <div th:each="fila : ${rutas}">
					    <option th:text="${fila[1]}" th:value="${fila[0]}"></option>
					    </div>
				  </select>
		     </div>
		</div>
  
	    <div class="row">
	        <div class="col s12">
	            <label>Seleccione Usuario</label>
				  <select class="browser-default" th:field="*{usuario}">
						<div th:each="puerta : ${empleados}">
					    <option th:text="${puerta.nombre}" th:value="${puerta.id}"></option>
					    </div>
				  </select>
	        </div>
	    </div> 

	    <div class="row">
	        <div class="col s12">
	            <label>Seleccione Compuerta</label>
				  <select class="browser-default" th:field="*{compuerta}">
						<div th:each="fila : ${compuertas}">
					    <option th:text="${fila[1]}" th:value="${fila[0]}"></option>
					    </div>
				  </select>
	        </div>
	    </div> 
	     
	
		 <div class="row">
		     <div class="col s12">      
				 <div class="file-field input-field">
			      <div class="btn">
			        <span>Excel</span>
			        <input type="file" id="file" th:name="file">
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate" type="text">
			      </div>
			    </div>
			</div>
		</div>

	      		<div class="row">
		          <div class="input-field col s12">
					  <button class="btn waves-effect waves-light" type="submit">Guardar Registro Preparacion
					    <i class="material-icons right">save</i>
					  </button>
		          </div>
		        </div>				      

	    </form>	
		
	</div>


 -->
