<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" id="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">

      <div class="logo">      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Modulo de Preparacion</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      
      <div class="content">
      
      <div class="row">
          <div th:if="${existeproducto}" class="alert alert-danger col s12">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <i class="material-icons">close</i>
            </button>
            <span>
              <b> Adventencia -> </b> producto ya existente en la hoja</span>
          </div>
	  </div>
		
      
      	<form class="col s12" th:action="@{'/admin/preparacion/registro/'+${id}}" th:object="${formPreparacion}" method="post">
		
		<link th:href="@{/css/materialize-0.98.0.min.css}" rel="stylesheet" type="text/css">
		<div class="row">
					
				<div th:if="${posteado==false}">
				
					 <div class="col s6">
				         <label>Usuario Asignado</label>
						  <select class="browser-default" th:field="*{usuario}">
							    <th:block th:each="fila : ${usuarios}">
								<option th:value="${fila.id}" th:text="${fila.username}"></option>
							 </th:block>
						  </select>
				    </div>
			        <div class="input-field col s4">
			          <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Ultima Fecha de Modificacion</label>
                          <input th:value="${fecha}" type="text" class="form-control text-info" disabled>
                        </div>
                      </div>
			        </div>
				    
					<div class="col s2">
							<input type="checkbox" id="something">
							<label for="something">Postear</label>
					<div th:unless="${posteado==false}">
						<input type="checkbox" checked="checked">
						<label>Posteado</label>
						  
					</div>
	        		
	        		</div>
	        		
	        		<div class="col s6">
				         <label>Ruta Actual</label>
						  <select class="browser-default" th:field="*{ruta}">
						     <th:block th:each="fila : ${rutas}">
								<option th:value="${fila.id}" th:text="${fila.ruta}"></option>
							 </th:block>
						  </select>
				     </div>
				     <div class="col s4">
				         <label>Puerta Actual</label>
						  <select class="browser-default" th:field="*{compuerta}">
							  <th:block th:each="fila : ${compuertas}">
								<option th:value="${fila.id}" th:text="${fila.puerta}"></option>
							 </th:block>
						  </select>
				     </div>
					 <div class="col s2">
				     	<label>Actualizar</label>
						  <button class="btn btn-primary" type="submit">
						    <i class="large material-icons">save</i>
						  </button>
					 </div>	 
	        			
			 </div>
		     
		     <div th:unless="${posteado==false}">
					
                      <div class="col s6 m6 l3">
                      <div class="form-group">
                          <label>Usuario</label>
                          <input type="text" th:value="${usuario.username}" class="blue-text text-darken-2" disabled>
                      </div>
                      </div>
                      <div class="col s6 m6 l3">
                      <div class="form-group">
                          <label>Compuerta</label>
                          <input type="text" th:value="${compuerta.puerta}" class="blue-text text-darken-2" disabled>
                      </div>
                      </div>
                      <div class="col s6 m6 l3">
                      <div class="form-group">
                          <label>Ruta</label>
                          <input type="email" th:value="${ruta.ruta}" class="blue-text text-darken-2"  disabled>
                      </div>
                      </div>

                    <div class="col s6 m6 l3">
                    <div class="form-group">
							<input type="checkbox" checked="checked" disable>
							<label>Posteado</label>
					</div>
                    </div>

			 </div>
		     
		</div>
				
		</form>
      
      <th:block th:if="${posteado==false}"><br></th:block>
      
      <div class="col-lg-12 col-md-12">
     
              <div class="card" id="card">
                <div class="card-header card-header-tabs card-header-success">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                    <!-- 
                      <span class="nav-tabs-title">Tasks:</span> -->
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">content_paste</i>DETALLE HOJA
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">event_busy</i>ERRORES
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-header">
	                <div style="position: absolute;top:1%;left:90%;">
					  <a id="myBtn" class="cursor"><img width="30%" th:src="@{/icons/add.png}"></a>
					  <a class="cursor" th:href="@{'/admin/preparacion/descargar/excel/'+${id}}"><img width="30%" th:src="@{/icons/excel.png}"></a>
					</div>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                  	<div class="tab-pane active" id="profile">
                    
                      <table class="table">

						<thead>
				          <tr>
				              <th class="text-info">Codigo</th>
				              <th>Cantidad</th>
							 
							<th:block th:if="${posteado==false}">
							 <th>Nueva Cantidad</th>
				             <th>Total Inventario Neto</th>
				             <th>Modificar</th>
							 <th>Eliminar</th>
							</th:block> 
							 
				          </tr>
				        </thead>
				
				        <tbody>			        
				        <th:block th:each="iterator : ${preparacionDetalle}">
				          	<tr>
				          					          	
				          		<td class="text-primary" th:text=${iterator.codigosap}></td>
								<td th:text=${iterator.cantidad}></td>
								<th:block th:if="${posteado==false}">	
									
									<td>
										<input type="number" th:id="${iterator.id}" th:value="${iterator.cantidad}" style="width:50%;height:20%;font-size:11pt;">
									</td>
									<td th:text=${iterator.total}></td>
									<td>
									  <button class="btn btn-primary text-warning" th:onclick="|actulizar('${iterator.id}')|" type="submit">
									    <i class="large material-icons">save</i>
									  </button>
									</td>
									
									<td>
									
									<form class="col s12" th:action="@{'/admin/preparacion/detalle/eliminar/'+${iterator.id}}" method="post">
									  <button class="btn btn-primary text-danger" type="submit">
									    <i class="large material-icons">delete</i>
									  </button>
									</form>  
									  
									</td>
									
								</th:block>
								
				    		</tr>
				    	</th:block> 

                      </table>
                      
                    </div>
                    
                    
                    
                    <div class="tab-pane" id="messages">
                    
                    	<table class="table">
                      
                        <thead>
				          <tr>
				            <th>Descripcion</th>
				          </tr>
				        </thead>
						<th:block th:each="fila : ${preparacionErrores}">
				          <tr>
				          	<td th:text=${fila.descripcion}></td>
						  </tr>
				    	</th:block> 
                        
                      </table>
                      
                      
                    </div>

                  </div>
                </div>
              </div>
              
              
            </div>
      
      		<div class="container">
		      <div th:if="${PaginasTotales != 1}" class="center">		
				<ul class="pagination">
		
					<th:block th:if="${BotonLimtInf}">
				 		<li class="page-item" th:classappend="${PaginaActual eq 1} ? 'disabled'">
				            <a class="page-link"
				               th:href="@{/admin/preparacion/registro/__${idPreparacion}__?page={id}(id=${PaginaActual lt 1 ? 1 : PaginaActual})}"
				               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
				                <i class="material-icons">chevron_left</i>
				            </a>
				    	<li class="waves-effect"><a th:href="@{/admin/preparacion/registro/__${idPreparacion}__?page=1}">1</a></li>
				    	<li class="waves-effect">...</li>
				    </th:block>
					
					<li class="page-item" th:classappend="${i eq PaginaActual} ? 'active'"
			            th:each="i,pStat : ${#numbers.sequence(LimitPagInf,LimitPagSup)}">           
			            <a class="page-link" th:href="@{/admin/preparacion/registro/__${idPreparacion}__?page={id}(id=${i})}" th:text="${i}"
			            th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				    </li>
		
					<th:block th:if="${BotonLimtSup}">
						<li class="waves-effect">...</li>
				    	<li class="waves-effect"><a th:href="@{/admin/productos?page={id}(id=${PaginasTotales})}" th:text="${PaginasTotales}">5</a></li>
				    	<li class="waves-effect" th:classappend="${(PaginaActual) eq (PaginasTotales)} ? 'disabled'">
				        	<a class="page-link"
				               th:href="@{/admin/preparacion/registro/__${idPreparacion}__?page={id}(id=${PaginaActual + 2})}"
				               aria-label="Next" title="Next Page" data-toggle="tooltip">
							<i class="material-icons">chevron_right</i>
				       		</a>
				       </li>
					</th:block>
				 
				 </ul>
			 </div>
			</div>
        
      	  </div>
      	  
      </div>

    </div>

<div th:replace="fragments/corejs :: corejsFragment"></div>

<script th:inline="javascript">
$("#something").click( function(){
	if($(this).is(':checked')){
		var message = '/preparacion-rest/postear/'+[[${id}]];
		
		$.ajax({
            url : message,
            type : "get",
            data : { status : status},
        }).done(function (data) {
        	window.location.replace([[${id}]]);
        });
		
	}
});

function actulizar(id){
	
	var cantidad = $('#'+id).val();
	var url = '/preparaciondetalle-rest/actulizar?id='+id+'&cantidad='+cantidad;
	
	$.ajax({
        url : url,
        type : "get",
        data : { status : status},
    }).done(function (data) {
    	window.location.replace('/admin/preparacion/registro/'+[[${id}]]);
    });
	//window.location.replace(window.location.href);
}


function formAgregar(form){
	
	var valor;
	
	var data = {}
	
	
	$.ajax({
        type: "POST",
        contentType: "application/json",
        url: "http://localhost:8080/preparaciondetalle-rest/producto",
        data: JSON.stringify({"memberId" : "test"}),
        dataType: 'json',
        timeout: 600000,
        success: function (data) {
           console.log("success");
        },
        error: function (e) {
           console.log("fail");
        }
	});

	
	return false;
	
}
</script>

<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
    
       <div class="col-md-4 ml-auto mr-auto text-center">
          <div class="alert alert-info">
         	<span><i class="tiny text-warning material-icons">label_outline</i> Nuevo Producto</span>
          </div>
        </div>
    	
    </div> 
    
    <div class="modal-body">
         <form class="col s12" th:action="@{'/admin/preparacion/registro/agregar/'+${id}}" th:object="${formIngreso}" method="post">
		 	<div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label class="bmd-label-floating">CodigoSap</label>
                    <div class="autocomplete">
					    <input id="myInput" type="text" th:field="*{codigo}" name="myCountry" autocomplete="off">
					 </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <input type="text" id="total" style="color:black" class="form-control" placeholder="Total Neto" disabled> 
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="bmd-label-floating">Cantidad</label>
                    <input type="text" th:field="*{cantidad}" style="color:black" class="form-control"> 
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                     <button class="btn btn-primary btn-block"><i class="small material-icons">create_new_folder</i> Agregar</button>
                  </div>
                </div>
             </div>      
		 </form>
       
    </div>
  </div>

</div>

<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }//console.log($("#myInput").val());
    var codigostr = $("#myInput").val();
    
    
    $.ajax({
	      type: 'GET',
	      url: '/inventario-rest/total?codigosap='+codigostr,
	      success: function(response) {
	    	  var json = JSON.parse(response);
	    	  $("#total").val(json);
	      }
	    });
    
    
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}
/*An array containing all the country names in the world:*/
var countries=[];

$("#myInput").keypress(function() {
	var codigostr = $("#myInput").val();
	console.log(codigostr.length);
	
	if(codigostr.length>=1){
		console.log('/producto-rest/listarCodigosSap?codigosap='+codigostr);
		
		$.ajax({
		      type: 'GET',
		      url: '/producto-rest/listarCodigosSap?codigosap='+codigostr,
		      success: function(response) {
			    var countryArray = response;
		        
		        for (var i = 0; i < countryArray.length; i++){
			      countries[i] = countryArray[i].codigosap;
			    }
		      }
		    });
	}

	autocomplete(document.getElementById("myInput"),countries);
});


/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
</script>


<style>
.center {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  justify-content: center;
}
.cursor {
  cursor: pointer;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-header {
  padding: 2px 16px;
  background-color: #fafafa;
  color:black;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
</style>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
  document.getElementById("sidebar").style.visibility = "hidden";
  document.getElementById("card").style.visibility = "hidden";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";

    var x = document.getElementById('sidebar');
    var y = document.getElementById('card');
    
    if (x.style.visibility === 'hidden') {
      x.style.visibility = 'visible';
      y.style.visibility = 'visible';
    } else {
      x.style.visibility = 'hidden';
      y.style.visibility = 'hidden';
    }
    
  }
}

</script>

</body>
</html>
