<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <p class="navbar-brand">Modulo de Preparacion</p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

					<div style="position: absolute;top:30%;left:90%;">
					  <a th:href="@{/admin/preparacion/nueva}" class="btn-floating btn-small waves-effect waves-light green-text text-darken-1"><i class="material-icons">create_new_folder</i></a>
					</div>

                  <h4 class="card-title ">Preparaciones</h4>
                  <p class="card-category">Listado de Hojas de Preparacion por Fecha</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
						<thead class="text-primary">
				          <tr class="blue darken-2 white-text">
				              <th class="text-info">Pikeador</th>
				              <th>Puerta</th>
				              <th>Ruta</th>
				              <th>Posteado</th>
				              <th>Fecha y Hora</th>
				              <th class="text-warning">Ver Detalle</th>
				              <th class="text-danger">Eliminar</th>
				          </tr>
				        </thead>
			                      
                      <tbody>
                        
				       <th:block th:each="iterator : ${listapreparacion}">
				          	<tr>
				          		<td class="text-primary" th:text=${iterator.pikeador}></td>
					            <td th:text=${iterator.puerta}></td>
					            <td th:text=${iterator.ruta}></td>
					            
					            <th:block th:each="pf : ${iterator.posteado}">
							        <td th:if="${pf} == true"><i class="large material-icons text-success">cloud_done</i></td>
							        <td th:if="${pf} == false"><i class="large material-icons">cloud_off</i></td>
							    </th:block>
							                
					            <td th:text=${iterator.fecha}></td>
					              
					            <td><a th:href="@{'/admin/preparacion/registro/'+${iterator.id}}"><i class="tiny material-icons text-warning">edit</i> Editar</a></td>
					            
					            <th:block th:each="pf : ${iterator.posteado}">
							        <td th:if="${pf} == true"><a><i class="tiny material-icons">block</i> Borrar</a></td>
							        <td th:if="${pf} == false">
							        
							        <a class="confirmation" th:href="@{'/admin/preparacion/borrar/'+${iterator.id}}"><i class="tiny material-icons text-danger">delete_forever</i> Borrar</a>
							        
							        </td>
							    </th:block>
    		
				    		</tr>
				    	</th:block> 
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
		

		 <div th:if="${paginacion.totalPages>1}" class="form-group col-md-11 pagination-centered center">
		   <ul class="pagination">
			
			<th:block th:if="${BotonLimtInf}">
		 		<li class="page-item" th:classappend="${paginacion.number eq 0} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/admin/preparacion/?page={id}(id=${paginacion.number lt 2 ? 1 : paginacion.number})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <i class="material-icons">chevron_left</i>
		            </a>
		    	<li class="waves-effect"><a th:href="@{/salida/lista?page=1}">1</a></li>
		    	<li class="waves-effect">...</li>
		    </th:block>
			
			<li class="page-item" th:classappend="${i eq paginacion.number + 1} ? 'active'"
		            th:each="i,pStat : ${#numbers.sequence(LimitPagInf,LimitPagSup)}">           
		            <a class="page-link" th:href="@{/admin/preparacion/?page={id}(id=${i})}" th:text="${i}"
		               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		    </li>
		    
		    <th:block th:if="${BotonLimtSup}">
		    	<li class="waves-effect">...</li>
		    	<li class="waves-effect"><a th:href="@{/salida/lista?page={id}(id=${PaginasTotales})}" th:text="${PaginasTotales}">5</a></li>
		    	
		    	 <li class="waves-effect" th:classappend="${(paginacion.number + 1) eq (paginacion.totalPages)} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/admin/preparacion/?page={id}(id=${paginacion.number + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
					<i class="material-icons">chevron_right</i>
		            </a>
		        </li>
		     </th:block>

		  </ul>
		</div>
		
	</div>
        
  </div>
</div>


<div th:replace="fragments/corejs :: corejsFragment"></div>



<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>



<!-- Trigger/Open The Modal -->
<button>Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>


<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Esta Seguro?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>