<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Modulo de Inventario</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" class="form-control" placeholder="Buscar CodigoSap...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

					<div style="position: absolute;top:30%;left:90%;">
					  <a th:href="@{/admin/usuario/nuevo}"><i class="material-icons">library_add</i></a>
					</div>

                  <h4 class="card-title ">Productos</h4>
                  <p class="card-category">Detalle de Listado de Productos</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                    
                      <thead class=" text-primary">
		 				<tr>
				            <th class="text-info">Codigo SAP</th>
				            <th>Descripcion</th>
				            <th>Precio</th>
				            <th>Envase</th>
				            <th>Factor</th>
				        </tr>
                      </thead>
                      
                      <tbody>
                        <tr th:each="iterator : ${productos}">
				            <td class="text-primary" th:text="${iterator.codigo}"></td>
				            <td th:text="${iterator.descripcion}"></td>
				            <td th:text="${iterator.precio}"></td>
				            <td th:text="${iterator.envase}"></td>
				            <td th:text="${iterator.factor}"></td>
		        		</tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
  
		    
		  <div th:if="${productos.totalPages != 1}" style="display: flex;align-items: center;justify-content: center;">
		   <ul class="pagination">
			
			<th:block th:if="${BotonLimtInf}">
				
				<li><a th:href="@{/admin/productos?page=1}"><i class="tiny material-icons">filter_1</i></a></li>
			
		 		<li class="page-item" th:classappend="${productos.number eq 0} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/admin/productos?page={id}(id=${productos.number lt 2 ? 1 : productos.number})}"
		               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
		                <i class="material-icons">chevron_left</i>
		            </a>
		         
		    	 <li class="waves-effect" style="color: white;">...</li>
		    </th:block>
			
			<li class="page-item" th:classappend="${i eq productos.number + 1} ? 'active'"
		            th:each="i,pStat : ${#numbers.sequence(LimitPagInf,LimitPagSup)}">           
		            <a class="page-link" th:href="@{/admin/productos?page={id}(id=${i})}" th:text="${i}"
		               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		    </li>
		    
		    <th:block th:if="${BotonLimtSup}">

		    	 <li class="waves-effect" style="color: white;">...</li>
		    	 <li class="waves-effect" th:classappend="${(productos.number + 1) eq (productos.totalPages)} ? 'disabled'">
		            <a class="page-link"
		               th:href="@{/admin/productos?page={id}(id=${productos.number + 2})}"
		               aria-label="Next" title="Next Page" data-toggle="tooltip">
					<i class="material-icons">chevron_right</i>
		            </a>
		        </li>
		        
		        <li><a th:href="@{/admin/productos?page={id}(id=${PaginasTotales})}"><i class="tiny material-icons">filter_9_plus</i></a></li>
		        
		    </th:block>
		    
		  </ul>
		 </div>
		              




      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>
<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>


</body>

</html>
