<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <p>Modulo de Inventario</p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
  
  
      <div class="content">

		<div class="row" style="display: flex;align-items: center;justify-content: center;">

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                  <a th:href="@{/admin/inventario}">
                    <i class="material-icons">store</i>
                  </a>
                  </div>
                  <p class="card-category">INVENTARIO</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i>Detalle de Inventario
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                  <div class="card-icon">
                  <a th:href="@{/admin/productos}">
                    <i class="material-icons">storage</i>
                  </a>
                  </div>
                  <p class="card-category">PRODUCTOS</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i>Detalle Productos
                  </div>
                </div>
              </div>
            </div>
            
  	 </div>
	</div>

<div th:replace="fragments/corejs :: corejsFragment"></div>

</body>

</html>





<!-- 

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/adminhead :: adminheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body>
 
<header th:replace="fragments/adminheader :: adminheaderFragment"></header>
	
	<div class="row" style="background-color: #1F628C;">
	  
	  <div class="col s1" style="position: absolute;top: 5%;left:1%;">
	  	<a data-activates="slide-out" class="button-collapse valign hide-on-large-only"><i class="material-icons">menu</i></a>
	  </div>
	  <div class="col s11 offset-s1 yellow-text center-align">
	  	<h3>Catalogo Adminstracion</h3>
	  </div>	
	</div> 
	
	<div class="container hide-on-med-and-down" style="position: absolute;left:25%;">
		
	  <ul id="tabs-swipe-demo" class="tabs">
	    <li class="tab col s3"><a class="active" href="#test-swipe-2"><i class="tiny material-icons blue-text text-darken-1">local_library</i> Inventario</a></li>
	  </ul>

	  <div id="test-swipe-2" class="col s12">
	  
	  	<div class="container">
			<div class="section">
			
				<div class="row">
		
				   <a th:href="@{/admin/inventario}">
					   <div class="col s12 m6 offset-m2 l6">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				            <i class="small material-icons blue-text text-darken-1">store_mall_directory</i>
				            </div>
				            <div class="col s10">
				              <span class="black-text">
				                Detalle Inventario
				              </span>
				            </div>
				          </div>
				        </div>
				      </div>
				    </a>
		
					<a th:href="@{/admin/productos}">
					   <div class="col s12 m6 offset-m2 l6">
				        <div class="card-panel grey lighten-5 z-depth-1">
				          <div class="row valign-wrapper">
				            <div class="col s2">
				            <i class="small material-icons blue-text text-darken-1">storage</i>
				            </div>
				            <div class="col s10">
				              <span class="black-text">
				                Detalle Productos
				              </span>
				            </div>
				          </div>
				        </div>
				      </div>
				    </a>
				  
				</div>
			</div>
		</div>
	  
	  </div>
		
		
		
	</div>

	<div class="container red hide-on-large-only">
		
		
	</div>

  <script>
  
  $(document).ready(function(){
    $('.tabs').tabs();
  });
  
  // Hide sideNav
  $('.button-collapse').sideNav({
  menuWidth: 280, // Default is 300
  edge: 'left', // Choose the horizontal origin
  closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true // Choose whether you can drag to open on touch screens
    });
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    });
    $('select').material_select();
    $('.collapsible').collapsible();
    </script>

</body>
</html>

 -->