<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" id="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reportia</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Modulo de Inventario</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->


  
      <div class="content">
      
     <div class="col-lg-12 col-md-12">
     
              <div class="card">
                <div class="card-header card-header-tabs card-header-info">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                    <!-- 
                      <span class="nav-tabs-title">Tasks:</span> -->
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">book</i>Inventario Total
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">domain</i>Detalle Inventario
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                
                
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="profile">
                      
                      
                      <table class="table">
						<thead>
				          <tr class="blue darken-2 white-text">
				            <th class="text-info">Codigo Sap</th>
				            <th>Total</th>
				          </tr>
				        </thead>
				
				        <tbody>
			          	<th:block th:each="iterator : ${inventarioGeneral}">
				          	<tr>
				          		<td class="text-primary" th:text=${iterator.codigosap}></td>
				          		<td th:text=${iterator.total}></td>
				    		</tr>
			            </th:block>            
                      </table>
                      

                    </div>
                    
                    
                    
                    <div class="tab-pane" id="messages">
                    
                    
                      <table class="table">
                      
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked>
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                            </td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-white btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="">
                                  <span class="form-check-sign">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </td>
                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                            <td class="td-actions text-right">
                              <button type="button" rel="tooltip" title="Edit Task" class="btn btn-white btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                              <button type="button" rel="tooltip" title="Remove" class="btn btn-white btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      
                      
                    </div>

                  </div>
                </div>
              </div>
              
              
            </div>
      
      
      
      	 
      </div>
      
      
      
      
      
      
      
	<!-- Trigger/Open The Modal -->
	
	<!-- The Modal -->
	<div id="myModal" class="modal">
	
	  <!-- Modal content -->
	  <div class="modal-content">
	    <div class="modal-header">
	      <p class="category">Click to view notifications</p>
	    </div>
	    <div class="modal-body">
	      <p>Some text in the Modal Body</p>
	      <p>Some other text...</p>
	    </div>
	  </div>
	
	</div>

      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>

<script th:src="@{/js/alertify-1.11.0.min.js}" type="text/javascript"></script>
<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>

<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 2px 16px;
  background-color: #fafafa;
  color:black;
}

.modal-body {padding: 2px 16px;}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
</style>


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
  document.getElementById("sidebar").style.visibility = "hidden"; 
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";

    var x = document.getElementById('sidebar');
    if (x.style.visibility === 'hidden') {
      x.style.visibility = 'visible';
    } else {
      x.style.visibility = 'hidden';
    }
    
  }
}
</script>


</body>

</html>

<!-- 

<table class="z-depth-1 highlight" style="border-radius:5px;">
	        <thead>
	          <tr class="blue darken-2 white-text">
	          	<th>#Posiciones</th>
	          	<th>Codigo Sap</th>
	            <th>Totales</th>
	            <th>Datos Inventario</th>
	            <th>Datos Producto</th>
	          </tr>
	        </thead>
	
	        <tbody>
	        
	          	<tr class="rows">
	          		<td th:text=${iterator.ubicaciones}></td>
	          		<td th:text=${iterator.codigosap}></td>
	          		<td th:text=${iterator.total}></td>
	          		<td><a class="waves-effect waves-light btn modal-trigger" href="#modal1"> <i class="tiny material-icons">business</i> </a></td>
	          		<td><a class="waves-effect waves-light btn modal-trigger" href="#modal2" th:onclick="'DatosProducto(\'' + ${iterator.id} + '\');'"> <i class="tiny material-icons">library_books</i> </a></td>
	    		</tr>
	    	</th:block>  
		 
	        </tbody>
</table>

  <script>
  // Hide sideNav
  $('.button-collapse').sideNav({
  menuWidth: 280, // Default is 300
  edge: 'left', // Choose the horizontal origin
  closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
    draggable: true // Choose whether you can drag to open on touch screens
    });
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    });
    $('select').material_select();
    $('.collapsible').collapsible();
    
    
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
      });

      $(document).ready(function(){
        $('.modal').modal();
        $('.moda2').modal();
      });
    
    </script>
 -->

