<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reportia</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Modulo Usuario</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" th:href="@{'/admin/usuario/'+${admin}}">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary" id="card">
                  <h4 class="card-title">Editar Perfil</h4>
                  <p class="card-category">Ingesar Datos del Perfil</p>
                </div>
                <div class="card-body">
                  <form th:action="@{'/admin/usuario/'+${id}}" th:object="${usuarioDetalle}" method="post">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Compañia Grupo Solid</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre Usuario</label>
                          <input type="text" th:field="*{username}" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Puesto</label>
							<div class="select">
							  <select name="slct" id="slct" th:field="*{puesto}">
								 <th:block th:each="fila : ${puestos}">
									<option th:value="${fila.id}" th:text="${fila.nombre}"></option>
								 </th:block>
							  </select>
							</div> 
                         
                        </div>
                      </div>
                      
                    </div>
                    

                                        
                    <div class="row">
                        <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Correo Electronico</label>
                          <input type="email" th:field="*{email}" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contraseña</label>
                          <input type="password" value="***********" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="form-group">
                          <i class="tiny material-icons text-success" id="myid">loop</i>
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col l6 m6 s3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primer Nombre</label>
                          <input type="text" th:field="*{primer_nombre}" class="form-control">
                        </div>
                      </div>
                      <div class="col l6 m6 s3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segundo Nombre</label>
                          <input type="text" th:field="*{segundo_nombre}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col col l6 m6 s3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primer Apellido</label>
                          <input type="text" th:field="*{primer_apellido}" class="form-control">
                        </div>
                      </div>
                      <div class="col col l6 m6 s3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segundo Apellido</label>
                          <input type="text" th:field="*{segundo_apellido}" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Direccion</label>
                          <input  th:field="*{direccion}" type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Departamento</label>
                          <input type="text" value="Escuintla" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Municipio</label>
                          <input type="text" value="Escuintla" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Telefono</label>
                          <input type="text"  th:field="*{telefono}" class="form-control">
                        </div>
                      </div>
                    </div>
					<div class="divider"></div>
					<br>
                    <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
          
          </div>
        </div>
    
      </div>
           
      </div>

    </div>



<div th:replace="fragments/corejs :: corejsFragment"></div>
<script th:src="@{/js/materialize-0.98.0.min.js}" type="text/javascript"></script>

<style>
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
</style>

<script>
$(document).ready(function(){
  $("#myid").click(function(){

	  var left  = (($(window).width()/2)-(window.innerWidth/2)/2);
	  var top   = (($(window).height()/2)-(window.innerHeigh/2)/2);
	  console.log(top);
	  window.open("/admin/usuario/contrasena/[[${id}]]", "localhost", "width=450,height=390,top=100,left="+left);
	  
  });
});
</script>


</body>
</html>
