<head th:fragment="headFragment">

    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link th:href="@{/css/materialize-icons.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/materialize.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/alertify-1.11.0.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/icon.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/miestilo.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" th:href="@{/img/WMSIconsSOlid1.png}" />
 
  	<script th:src="@{/js/jquery-3.3.1.min.js}" type="text/javascript"></script>
  	<script th:src="@{/js/materialize.min.js}" type="text/javascript"></script>
  	<script th:src="@{/js/alertify-1.11.0.min.js}" type="text/javascript"></script>
  	

    <title th:include=":: #pageTitle"></title>
    <!-- metas, link and scripts -->
</head>