@charset "ISO-8859-1";

.success {
  padding: 20px;
  background-color: #43a047;
  color: #fff;
}

.danger {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.info {
  padding: 20px;
  background-color:DodgerBlue;
  color: white;
}

.warning {
  padding: 20px;
  background-color: orange;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}