<!DOCTYPE html>
<html lang="en">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <p>Modulo de Athentificacion</p>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
  
  
      <div class="content">

		<div class="row" style="display: flex;align-items: center;justify-content: center;">

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                  <a th:href="@{/admin/usuario/lista}">
                    <i class="material-icons">person</i>
                  </a>
                  </div>
                  <p class="card-category">USUARIO</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i>Detalle de los Usuario
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                  <a th:href="@{/admin/grupos}">
                    <i class="material-icons">supervisor_account</i>
                  </a>
                  </div>
                  <p class="card-category">GRUPOS</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">local_offer</i>Roles de Usuarios
                  </div>
                </div>
              </div>
            </div>
            
  	 </div>
  	 
	</div>

<div th:replace="fragments/corejs :: corejsFragment"></div>

</body>

</html>
