<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Modulo de Athentifiacion</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">

					<div style="position: absolute;top:30%;left:90%;">
					  <a th:href="@{/admin/usuario/nuevo}"><i class="material-icons">person_add</i></a>
					</div>

                  <h4 class="card-title ">Usuarios</h4>
                  <p class="card-category">Lista de usarios Disponibles</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
					  
					  <thead class=" text-primary">
				          <tr class="blue darken-2 white-text">
				              <th class="text-info">Usuario</th>
				              <th>Puesto</th>
				              <th class="text-warning">Ver Detalle</th>
				          	  <th class="text-danger">Eliminar</th>
				          </tr>
                      </thead>

                      
                      <tbody>
                        
						<th:block th:each="iterator : ${UsuariosUser}">
				          <tr>
				            <td class="text-primary" th:text=${iterator.username}></td>
				            <td th:text=${iterator.puesto}></td>
				            <td>
				            
					            <a th:href="@{'/admin/usuario/'+${iterator.id}}">
	                               <i class="material-icons">edit</i> Editar
	                            </a>
	                              
				            </td>
				            
				            <td>
					            
					            <a th:href="@{'/admin/usuario/borrar/'+${iterator.id}}">
					            	<i class="tiny material-icons">block</i> Borrar
					            </a>
				            
				            </td>
				            
				          </tr>
				        </th:block> 

                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        
        
        
        
      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>


</body>

</html>



<!-- 

	<div class="row">
		<div class="col s6">
		  <a th:href="@{/admin/usuario/nuevo}" class="btn-floating btn-small waves-effect waves-light green-text text-darken-1"><i class="material-icons">person_add</i></a>
		</div>
		<div class="col s6 nav-wrapper">
	      <form>
	        <div class="input-field">
	          <input id="search" placeholder="USUARIO" type="search" required>
	          <label class="label-icon green-text text-darken-1" for="search"><i class="material-icons">search</i></label>
	          <i class="material-icons">close</i>
	        </div>
	      </form>
		</div>
	</div>
	
		<table class="z-depth-1 highlight" style="border-radius:5px;">
	        <thead>
	          <tr class="blue darken-2 white-text">
	              <th>Usuario</th>
	              <th>Puesto</th>
	              <th>Modificar</th>
	          </tr>
	        </thead>
	
	        <tbody>
	        
	        <th:block th:each="iterator : ${UsuariosUser}">
	          <tr>
	            <td th:text=${iterator.username}></td>
	            <td th:text=${iterator.puesto}></td>
	            <td><a th:href="@{'/admin/usuario/'+${iterator.id}}"><i class="tiny material-icons yellow-text text-darken-1">edit</i> Editar</a></td>
	          </tr>
	        </th:block>  
	        
	        </tbody>
	    </table>

 -->