<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)">Panel Principal</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">

              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Nuevo Perfil</h4>
                  <p class="card-category">Ingesar Datos del Perfil</p>
                </div>
                <div class="card-body">
                  <form th:action="@{/admin/usuario/nuevo}" th:object="${formUsuario}" method="post">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Compañia Grupo Solid</label>
                          <input type="text" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre Usuario</label>
                          <input type="text" class="form-control" th:field="*{usuario}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Puesto</label>
							<div class="select">
							  <select name="slct" id="slct" th:field="*{puesto}">
							  		<option value="4">montacargista</option>
									<option value="3">pikeador</option>
							  </select>
							</div> 

                        </div>
                      </div>
                      
                    </div>
                    
                    <div class="row">
                        <div class="col-md-7">
                        <div class="form-group">
                          <label class="bmd-label-floating">Correo Electronico</label>
                          <input type="email" class="form-control" th:field="*{email}">
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">Contraseña</label>
                          <input type="password" class="form-control" th:field="*{contrasena}">
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primer Nombre</label>
                          <input type="text" class="form-control" th:field="*{primer_nombre}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segundo Nombre</label>
                          <input type="text" class="form-control" th:field="*{segundo_nombre}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Primer Apellido</label>
                          <input type="text" class="form-control" th:field="*{primer_apellido}">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Segundo Apellido</label>
                          <input type="text" class="form-control" th:field="*{segundo_apellido}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Direccion</label>
                          <input type="text" class="form-control" th:field="*{direccion}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Departamento</label>
                          <input type="text" value="Escuintla" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Municipio</label>
                          <input type="text" value="Escuintla" class="form-control" disabled>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Telefono</label>
                          <input type="text" class="form-control" th:field="*{telefono}">
                        </div>
                      </div>
                    </div>
					<div class="divider"></div>
					<br>
                    <button type="submit" class="btn btn-primary pull-right">Nuevo Perfil</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar userView">
                    <img class="circle" th:src="@{/img/admin.png}">
                </div>
                <div class="card-body">
                  <h6 class="card-category">Puesto / Nombre Usuario</h6>
                  <h4 class="card-title">Nombre Apellido</h4>
                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">Subir Foto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        
        
      </div>

    </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>
<style>
/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
</style>

</body>
</html>