<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">WMS || Login</title>
</head>

<!-- <link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />    -->
<!-- <script src="../static/js/login.js" th:src="@{/js/login.js}" type="text/javascript"></script>    -->

<body>


<style>
 body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
      }
      main {
      flex: 1 0 auto;
      }
  body {
      background-color: #1F628C;
    }
</style>



<div class="container">
	<div class="row">
	<div class="section"></div>
   <main>
    <center>
     <div class="container">
        <div  class="z-depth-3 y-depth-3 x-depth-3 grey green-text lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px; margin-top: 100px; solid #EEE;">
        <div class="section"><h5>Login</h5></div>
		<div class="section"></div>
      	<div class="section"><i class="mdi-alert-error red-text"></i></div>
      
      	<form class="login-form" th:action="@{/login}" th:object="${usuario}" method="post">
  
            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type="text" th:field="*{username}" th:value="*{username}" required />
                <label for='email'>Usuario</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col m12'>
                <input class='validate' th:field="*{password}" th:value="*{password}" type="password" required />
                <label for='password'>Contraseña</label>
              </div>
              <label style='float: right;'>
              <a><b style="color: #F5F5F5;">Forgot Password?</b></a>
              </label>
            </div>
            
            		<div th:if="${error}" th:text="${error}" class="red-text text-darken-2">
		       		</div>
		        
		        	<div th:if="${message}" th:text="${message}" class="blue-text text-darken-2">
		       		</div>
            
            <br/>
            <center>
              <div class='row'>
                <button style="margin-left:65px;"  type='submit' name='btn_login' class='col  s6 btn btn-small white black-text  waves-effect z-depth-1 y-depth-1'> <i class="material-icons right">send</i> Iniciar Session</button>
              </div>
            </center>
     		
     	</form>
     	
        </div>
       </div>
      </center>
      </main>

	</div>
</div>



</body>

<!-- 
<body ng-app="mainModule" ng-controller="mainController">
	
	<div id="login-page" class="row">
		<div class="col s12 z-depth-6 card-panel">
		    
		      <form class="login-form" th:action="@{/login}" th:object="${usuario}" method="post">
		        <div class="row">
		        </div>
		        <div class="row">
		          <div class="input-field col s12">
		            <i class="material-icons prefix">mail_outline</i>
		            <input class="validate" th:field="*{username}" th:value="*{username}" type="text">
		            <label for="email" data-error="wrong" data-success="right">Usuario</label>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s12">
		            <i class="material-icons prefix">lock_outline</i>
		            <input id="password" th:field="*{password}" th:value="*{password}" type="password">
		            <label for="password">Contraseña</label>
		          </div>
		        </div>
		  
					<div th:if="${error}" th:text="${error}" class="red-text text-darken-2">
		       		</div>
		        
		        	<div th:if="${message}" th:text="${message}" class="blue-text text-darken-2">
		       		</div>
		        
		        <div class="row">
		          <div class="input-field col s12">
					  <button class="btn waves-effect waves-light" type="submit">Iniciar Session
					    <i class="material-icons right">send</i>
					  </button>
		          </div>
		        </div>
		        <div class="row">
		          <div class="input-field col s12 m12 l12">
		            <p class="margin medium-small"><a th:href="@{/resgitrar_usuario}">Registrar</a></p>
		          </div>
		        </div>
		      </form>
		      
		</div>
	</div>
	
</body>
 -->

</html>
