<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/head :: headFragment">
    <title id="pageTitle">WMS || Inicio</title>
</head>
<body>
  
<header th:replace="fragments/header :: headerFragment"></header> 

<section>

	<div class="vc_row element-row row vc_custom_1478727859541">
	<div class="wpb_column vc_column_container vc_col-sm-12">
	<div class="wpb_wrapper">
	<div class="fw-section hb-fw-599b22a654ae9 without-border no-overlay light-style"
	style="background-color:#000000;
	 background-image:url(https://www.litmos.com/wp-content/uploads/2017/04/learning-automation-lms-training.jpg);
	 background-size:cover;
	 padding-top:40px;
	 padding-bottom:100px;" >
	<div class="row fw-content-wrap">
	<div class="col-12 nbm">
	<div id="learning-automated-div" style="text-align: center; font-size: 48px;
	 line-height: 52px; padding: 100px 5px 10px 5px;">
	<span style="color:#FFFFFF;">BIENVENIDO! </span></div>
	<div style="text-align: center; font-size: 18px; line-height: 22px; padding: 0 5px 40px 5px;">
	<span style="color:#FFFFFF;">Continue Trabajando <p th:text="${name}"></p></span></div>
	<div style="text-align: center;">
	</div>
	</div>
	</div>
	<div class="video-overlay no-overlay">$nbsp;</div>
	</div>
	</div>
	</div>
	</div>

</section>

<footer  th:replace="fragments/footer :: footerFragment"></footer>

</body>
</html>