<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/admihead :: admiheadFragment">
    <title id="pageTitle">WMS || Administracion</title>
</head>
<body class="dark-edition">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
      
      <a th:href="@{/}" class="simple-text logo-normal">WMS</a>
      
      </div>
      
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" th:href="@{/}">
              <i class="material-icons">dashboard</i>
              <p>Panel Principal</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/preparacion}">
              <i class="material-icons">note_add</i>
              <p>Preparacion</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/catalogo}">
              <i class="material-icons">event_note</i>
              <p>Inventario</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" th:href="@{/admin/usuario}">
              <i class="material-icons">assignment_ind</i>
              <p>Usuario</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" th:href="@{/admin/reporte}">
              <i class="material-icons">assignment</i>
              <p>Reporteria</p>
            </a>
          </li>
          <li class="nav-item active-pro">
             <a class="nav-link" th:href="@{/logout}">
               <i class="material-icons">power_settings_new</i>
               <p>Cerrar Session</p>
             </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Modulo de Reportes</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">2</span>
                  <p class="d-lg-none d-md-block"> Some Actions</p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="javascript:void(0)">Mike John responded to your email</a>
                  <a class="dropdown-item" href="javascript:void(0)">You have 5 new tasks</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">Cuenta</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
  
      <div class="content">
      
      
      
      	<div class="ex1">
		  <div class="container-fluid">
	          <div class="row">
	            <div class="col-md-12">
	              <div class="card">
	                <div class="card-header card-header-info">
	
						<div style="position: absolute;top:30%;left:90%;">
						  <a th:href="@{/admin/reporte/descargar/Ubicaciones}"><i class="material-icons">file_download</i></a>
						</div>
	
	                  <h4 class="card-title">Reporte Ubicacion</h4>
	                  <p class="card-category">Total de todos los productos del inventario con sus ubicaciones</p>
	                </div>
	                <div class="card-body">
	                  <div class="table-responsive">
	                    <table class="table">
	                      <thead class=" text-primary">
	                        <th>Codigo SAP</th>
	                        <th>Ubicacion</th>
	                        <th>Cantidad</th>
	                        <th>Reserva</th>
	                        <th>Lote</th>
	                      </thead>
	                      
	                      <tbody>
	                        
	                        
		           <th:block th:each="iterator : ${ubicaciones}">
				          <tr>

				            <td class="text-primary" th:text=${iterator.codigosap}></td>
				            <td th:text=${iterator.ubicacion}></td>
				            <td th:text=${iterator.cantidad}></td>
				            <td th:text=${iterator.reserva}></td>
				            <td th:text=${iterator.lote}></td>
				            
				          </tr>
				        </th:block> 
	                        
	                      </tbody>
	                    </table>
	                  </div>
	                </div>
	              </div>
	            </div>
	            
	          </div>
	        </div>
        </div>
      
      </div>

    </div>
  </div>


<div th:replace="fragments/corejs :: corejsFragment"></div>
<style>
div.ex1 {
  width: 100%;
  height: calc(100vh - 100px);;
  overflow: auto;
}
</style>

</body>

</html>